@model IEnumerable<TravelProject1._0.ViewModel.AdminViewModel>


<table class="table table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(item=>item.UserId)</th>
        <th>@Html.DisplayNameFor(item=>item.Name)</th>
        <th>@Html.DisplayNameFor(item=>item.Gender)</th>
        <th>@Html.DisplayNameFor(item=>item.Address)</th>
    </tr>


    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem=>item.UserId)
                </td>

                <td>
                    @Html.DisplayFor(modelitem=>item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelitem=>item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelitem=>item.Address)
                </td>

            </tr>
        }
    }

</table>





